body {
  font-family: "Poppins", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 28%,
    rgba(239, 255, 236, 1) 100%
  );
}

.invisible {
  background-color: #000000;
}
.kurban {
  font-weight: 600;
  font-size: 100%;
  margin: 30px 0px;
  font-size: 60px;
}

@media only screen and (max-width: 1000px) {
  .kurban {
    font-weight: 600;
    font-size: 100%;
    margin: 30px 0px;
    font-size: 10vw;
  }
  .cowImage {
    width: 80vw;
  }
}

.logo {
  padding-top: 41px;
  padding-right: 27px;
}

.btn-success:hover {
  background-color: #3ec564;
  color: white;
  border-color: #3ec564;
}

.btn-success {
  margin-top: 36px;
  background-color: white;
  color: #3ec564;
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 5px;
  padding: 8px;
  gap: 8px;
  border: 1.2px solid #3ec564;
}

.input-group {
  margin-top: 36px;
  width: 78%;
}

.form-control {
  background-color: #f1f1f1;
}

.btn-outline-secondary {
  background-color: #3ec564;
  color: white;
  border-color: #3ec564;
  border-radius: 20px;
}

.sss {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
  color: #263238;
  line-height: 36px;
  text-align: center;
}

.teslimat-bilgi {
  margin-top: 20px;
}

.teslimat-bilgiler {
  padding: 16px 16px 0px 16px;
  background: #f6fbf9;
  border-radius: 5.23432px;
  margin-right: 24px;
  gap: 7.19px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.teslimat-photo {
  width: 20%;
}

.bayram-teslim {
  margin-top: 9.4px;
}

.kurban-hisse {
  padding: 52px 0 51px 0;
  margin-top: 85px;
}

.kurban-hissesi {
  font-size: 24px;
  line-height: 36px;
  color: #454545;
  border-right: 0.5px solid #c6c6c6;
}

.teslimat-yazi {
  background-color: #3ec564;
  color: white;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 5px;
}

.button-teslimat-turu {
  font-size: 18px;
  line-height: 27px;
  color: #6b6b6b;
}

.kg {
  align-items: center;
  padding: 15px 5px 6px;
  background-color: #3ec564;
}

.hisse-adet,
.hisse-fiyat,
.hisse-teslim {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #f1f1f1;
  border-radius: 5px;
  border-color: white;
  color: black;
}

.table-container {
  max-height: 300px;
  /* Yükseklik ayarı */
  overflow-y: auto;
  /* Scrollbar görüntülemesi */
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}

thead tr th {
  border-bottom: 2px solid black;
}

tbody tr:hover,
tbody tr:active {
  background-color: #3ec564;
  /* Hover ve active rengi */
  border-radius: 5px;
}

tbody tr {
  border-bottom: 0.5px solid #e1e1e1;
}

tbody tr td {
  padding: 15px 0px 15px 0px;
}

.alert-primary {
  margin-top: 29px;
  padding: 16px 0px;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-weight: 800;
}

.sonraki-adım {
  border-radius: 5px;
  padding: 8px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #000000;
}

.onay-sayfası {
  margin-top: 159px;
  background: #3ec564;
  border-radius: 5px;
  width: 30%;
  padding: 8px;
  color: #ffffff;
  font-size: 18px;
}

.geri-tus {
  margin-top: 23px;
  margin-bottom: 23px;
}

.kesimhane-teslim {
  margin-left: 11px;
  align-items: center;
  justify-content: center;
  width: 38%;
  padding: 0px;
  background-color: #000000;
}

.hisse-buton {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #000000;
  margin-top: 72px;
}

.hisse-buton:active,
.hisse-buton:hover {
  background-color: #3ec564;
  color: #f1f1f1;
  border-color: #3ec564;
}

.input-üst {
  margin-top: 16px;
}

.inputlar {
  border-color: #f1f1f1;
}

.form-group {
  margin-top: 16px;
}

.form-check {
  margin-top: 17px;
}

.tesekkur {
  margin-top: 70px;
  margin-bottom: 112px;
}

.alertt {
  font-size: 16px;
}

.sorgulama {
  background-color: #1a9f75;
  padding: 15px;
  font-size: 36px;
  color: #f9fef8;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20.5263px;
  margin-bottom: 50px;
  margin-top: 60px;
}

.table {
  background-color: #f6fbf9;
  color: #004e24;
}

.table th,
.table td {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #ebf5f3;
}

/* .table td:nth-of-type(9) {
  background-color: #bcf3e1;
  color: #1a9f75;
} */

.table thead th {
  color: #004e24;
  background: #f6fbf9;
}
